= form_with(model: income, local: true) do |f|
  .income-form__field
    .income-form__field--left
      = f.number_field :amount, placeholder: :手取り月収, class:'income-form__input'
    .income-form__field--right 円
  .fixed-costs__checkboxes
    = f.collection_check_boxes :fixed_cost_ids, @fixed_costs, :id, :view_name_and_amount, include_hidden: false do |cost|
      %p.fixed-costs__checkboxes__item
        = cost.check_box
        = cost.label { cost.text }
  = f.submit "設定完了", class: 'set-btn'
= link_to "固定費項目を追加する", new_fixed_cost_path, class: "fixed-cost__edit"
