.wrapper
  =render 'header'
  .contents
    .left-box
      .net-income
        .net-income__title
          手取り月収
        %span.net-income__amount
          #{@income_amount.to_s(:delimited)}円
      .total-cost
        .total-cost__title
          固定費総額
        %apan.total-cost__amount
          △#{@costs_amount.to_s(:delimited)}円
      .real-income
        .real-income__title
          実収入
        %span.real-income__amount
          #{@real_income.to_s(:delimited)}円
    .center-box
      .line-box
        .line-box__top
        .line_box__bottom
      .cost-list
        .cost-list__title
          固定費内訳
        .cost-list__breakdown
          - @costs_hash.each do |name, amount|
            .cost-list__breakdown__name
              #{name}
            .cost-list__breakdown__amount
              #{amount.to_s(:delimited)}円
          
    .right-box
      .balance-chart
        .balance-chart__title
          現在の収支状況
        .balance-chart__content
          - @balance_data = {"固定費": @costs_amount, "実収入": @real_income}
          = pie_chart @balance_data, id: "balance-chart"
        .balance-chart__caption
          収入に対する固定費の割合
        .balance-chart__percentage
          = "#{@costs_amount*100/@income_amount}%"
        =link_to "固定費を見直す", "#", class: "edit-balance"


      





















  -# #{@revenue.to_s(:delimited)}円 
  -# - data = @fixed_costs.pluck(:name, :amount).to_h
  -# - profit = @revenue - @fixed_costs.pluck(:amount).sum
  -# - p data["実収入"] = profit
  -# - p data
  -# = pie_chart data, id: "balance-chart"