.wrapper
  .header
    .home-box
      = image_tag 'LOGO.png', class: "LOGO", alt: "LOGO", size: '40x40'
      .app-name
      固定費管理アプリ
  = form_with(model: @fixed_cost, local: true) do |f|
    .fixed-cost_form-box
      .fixed-cost_form-box_name
        = f.text_field :name, placeholder: :サービス名, class:'fixed-cost__name'
      .fixed-cost_form-box_amount
        = f.number_field :amount, placeholder: :金額,  class:'fixed-cost__amount'
        = "円"
    = f.submit "追加", class: 'add-btn'